.my-social-icon {
    filter: drop-shadow(2px 4px 7px rgb(160, 213, 246));
    color: rgb(193, 193, 193);
    font-size: 1.5rem;
}

.my-social-icon:hover{
    filter: drop-shadow(2px 4px 14px rgb(143, 205, 243));
    color: floralwhite;
    transition: all 0.2s ease-in-out;
}

.fa.x-twitter {
    font-family: sans-serif;
}
.fa.x-twitter ::before{
    content:"X";
    color: aliceblue !important;
	font-size:1.2em;
}