.contact-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap:1rem;
  justify-items: center;
  place-items: center;
}

.contact-form input, .contact-form textarea {
  border: 3px solid lightgrey;
  border-radius: 10px;
  padding: 1rem;
  outline-color: rgb(9, 74, 95);
  color: rgb(18, 154, 199);
}
.contact-form input:focus, .contact-form textarea:focus {
  border-color: deepskyblue ;
  outline-color: deepskyblue ;
}
.contact-form input:focus::placeholder, .contact-form textarea:focus::placeholder {
  color: deepskyblue
}