.contact-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap:1rem;
  justify-items: center;
  place-items: center;
}

.contact-form input, .contact-form textarea {
  border: 3px solid rgb(15, 122, 157);
  border-radius: 10px;
  padding: 1rem;
  outline-color: rgb(9, 74, 95);
}
.contact-form input:focus, .contact-form textarea:focus {
  border-color: skyblue ;
  outline-color: skyblue ;
}