@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-nav-link {
  color: blue;
  font-weight: bold;
  border-bottom: 2px solid blue;
}
